<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BusinessInfoMapper">
  <resultMap id="BaseResultMap" type="com.entity.BusinessInfo">
    <!--@mbg.generated-->
    <!--@Table business_info-->
    <id column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="business_type" jdbcType="TINYINT" property="businessType" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="business_tel" jdbcType="VARCHAR" property="businessTel" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    business_id, business_type, business_name, business_tel, gmt_create, gmt_modified, 
    is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from business_info
    where business_id = #{businessId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from business_info
    where business_id = #{businessId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="business_id" keyProperty="businessId" parameterType="com.entity.BusinessInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business_info (business_type, business_name, business_tel, 
      gmt_create, gmt_modified, is_deleted
      )
    values (#{businessType,jdbcType=TINYINT}, #{businessName,jdbcType=VARCHAR}, #{businessTel,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="business_id" keyProperty="businessId" parameterType="com.entity.BusinessInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessType != null">
        business_type,
      </if>
      <if test="businessName != null">
        business_name,
      </if>
      <if test="businessTel != null">
        business_tel,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessType != null">
        #{businessType,jdbcType=TINYINT},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessTel != null">
        #{businessTel,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.BusinessInfo">
    <!--@mbg.generated-->
    update business_info
    <set>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=TINYINT},
      </if>
      <if test="businessName != null">
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessTel != null">
        business_tel = #{businessTel,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where business_id = #{businessId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.BusinessInfo">
    <!--@mbg.generated-->
    update business_info
    set business_type = #{businessType,jdbcType=TINYINT},
      business_name = #{businessName,jdbcType=VARCHAR},
      business_tel = #{businessTel,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where business_id = #{businessId,jdbcType=BIGINT}
  </update>
</mapper>