<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.entity.Goods">
    <!--@mbg.generated-->
    <!--@Table goods-->
    <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_price" jdbcType="INTEGER" property="goodsPrice" />
    <result column="goods_pic_url" jdbcType="VARCHAR" property="goodsPicUrl" />
    <result column="goods_inventory" jdbcType="INTEGER" property="goodsInventory" />
    <result column="goods_sales_volume" jdbcType="INTEGER" property="goodsSalesVolume" />
    <result column="goods_type_id" jdbcType="INTEGER" property="goodsTypeId" />
    <result column="goods_category_id" jdbcType="INTEGER" property="goodsCategoryId" />
    <result column="goods_create_id" jdbcType="VARCHAR" property="goodsCreateId" />
    <result column="goods_info" jdbcType="VARCHAR" property="goodsInfo" />
    <result column="goods_status" jdbcType="TINYINT" property="goodsStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_id, goods_name, goods_price, goods_pic_url, goods_inventory, goods_sales_volume, 
    goods_type_id, goods_category_id, goods_create_id, goods_info, goods_status, gmt_create, 
    gmt_modified, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.entity.Goods">
    <!--@mbg.generated-->
    insert into goods (goods_id, goods_name, goods_price, 
      goods_pic_url, goods_inventory, goods_sales_volume, 
      goods_type_id, goods_category_id, goods_create_id, 
      goods_info, goods_status, gmt_create, 
      gmt_modified, is_deleted)
    values (#{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=INTEGER}, 
      #{goodsPicUrl,jdbcType=VARCHAR}, #{goodsInventory,jdbcType=INTEGER}, #{goodsSalesVolume,jdbcType=INTEGER}, 
      #{goodsTypeId,jdbcType=INTEGER}, #{goodsCategoryId,jdbcType=INTEGER}, #{goodsCreateId,jdbcType=VARCHAR}, 
      #{goodsInfo,jdbcType=VARCHAR}, #{goodsStatus,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Goods">
    <!--@mbg.generated-->
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsPicUrl != null">
        goods_pic_url,
      </if>
      <if test="goodsInventory != null">
        goods_inventory,
      </if>
      <if test="goodsSalesVolume != null">
        goods_sales_volume,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="goodsCategoryId != null">
        goods_category_id,
      </if>
      <if test="goodsCreateId != null">
        goods_create_id,
      </if>
      <if test="goodsInfo != null">
        goods_info,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsPicUrl != null">
        #{goodsPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsInventory != null">
        #{goodsInventory,jdbcType=INTEGER},
      </if>
      <if test="goodsSalesVolume != null">
        #{goodsSalesVolume,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsCategoryId != null">
        #{goodsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsCreateId != null">
        #{goodsCreateId,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null">
        #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Goods">
    <!--@mbg.generated-->
    update goods
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsPicUrl != null">
        goods_pic_url = #{goodsPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsInventory != null">
        goods_inventory = #{goodsInventory,jdbcType=INTEGER},
      </if>
      <if test="goodsSalesVolume != null">
        goods_sales_volume = #{goodsSalesVolume,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsCategoryId != null">
        goods_category_id = #{goodsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsCreateId != null">
        goods_create_id = #{goodsCreateId,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null">
        goods_info = #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Goods">
    <!--@mbg.generated-->
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=INTEGER},
      goods_pic_url = #{goodsPicUrl,jdbcType=VARCHAR},
      goods_inventory = #{goodsInventory,jdbcType=INTEGER},
      goods_sales_volume = #{goodsSalesVolume,jdbcType=INTEGER},
      goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
      goods_category_id = #{goodsCategoryId,jdbcType=INTEGER},
      goods_create_id = #{goodsCreateId,jdbcType=VARCHAR},
      goods_info = #{goodsInfo,jdbcType=VARCHAR},
      goods_status = #{goodsStatus,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
</mapper>